html
  head
    title Rotten Potatoes
    link(href="/style.css", rel="stylesheet")
  
  body
    h1 Rotten Potatoes
    form#new-movie
      div
        label(for="new-movie-title") Movie Title
        input(type="text")#new-movie-title
      div
        label(for="new-movie-link") Movie Link
        input(type="text")#new-movie-link
      div
        label(for="new-movie-image") Movie Image
        input(type="text")#new-movie-image
      div#add-movie
        input(type="submit" value="Add Movie")#new-movie-submit
    div.movie-tile-wrapper

    div#app

  script(src="bundle.js") 

  //- script(src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js")
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")

  //- script.
  //-   web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
  //-   decodedAddress = !{JSON.stringify(address)};
  //-   ReviewContract = web3.eth.contract(!{abiDefinition});
  //-   instance = ReviewContract.at(decodedAddress);
  //-   clientAddress = web3.eth.accounts[0];

  //-   function fromHex(hexString) {
  //-     if(hexString) {
  //-       var cutoff = hexString.slice(1, -1).search(0) + 1;
  //-       var trimmed = hexString.slice(0, cutoff);
  //-       return web3.toUtf8(trimmed);
  //-     }
  //-   }

  //-   function addMovie(params) {
  //-     instance.addMovie(params.title, params.link, params.image, {from: web3.eth.accounts[0]});
  //-   }

  //-   function insertMovieTile(movie) {
  //-     $(".movie-tile-wrapper").append('<div class="movie-tile"><a href="' + movie[1] + '" target="_blank">' + movie[0] + '</a></div>');
  //-   }

  //-   function getMovies() {
  //-     var movies = [];
  //-     var length = instance.getMoviesLength().toLocaleString(); var i;
  //-     for(i = 0; i < length; i++) {
  //-       movies.push(instance.getMovie(i));
  //-       movies[i][0] = fromHex(movies[i][0]);
  //-       movies[i][1] = fromHex(movies[i][1]);
  //-       insertMovieTile(movies[i]);
  //-     }
  //-   }

  //-   $(document).ready(function() {
  //-     getMovies();
  //-     $("#new-movie-submit").click(function() {
  //-       addMovie({title: $("#new-movie-title").val(), link: $("#new-movie-link").val(), image: $("#new-movie-image").val()});
  //-       $("#new-movie-val").val("");
  //-       getMovies();
  //-     });
  //-   });